<div class="card"> 
  <div class="card-header">
    {{search-bar searchScope=searchScope data-test-search-bar=true navigateToResult=(action "navigateToResult")}}
  </div>

  <main class="card-block" style="overflow:auto;">
    {{outlet}}
  </main>
</div>