<li class="list-group-item">{{link-to 'Dimensions' 'discoverable-taxonomy-set.role-type.presentation-node.element.dimension-nodes'}}</li>
{{#each-in model.data as |key value|}}
  <li data-test-element="{{key}}" class="list-group-item">{{key}}: {{value}}</li>
{{/each-in}}