{{#if (and currentCell.cell.settings.name currentCell.cell.period)}}
  <form>
    {{dimension-select}}
    <button {{action "saveCell"}} class="btn btn-outline-primary btn-block">Save</button>
    {{link-to "Add more dimensions" 'dimension-nodes' class="btn btn-outline-primary btn-block"}}
  </form>
{{else}}
  <p>Not tagged.</p>
{{/if}}