<form>
  {{dimension-select data-test-dimension-select="true" updateLast=(action (mut last))}}
  {{#if currentCell.cell.tag}}
    {{link-to "Add more dimensions" 'dimension-nodes' class="btn btn-outline-primary btn-block"}}
  {{else}}
     <p>Choose a tag first before attempting to add more dimensions.</p>
  {{/if}}
</form>
