<select multiple onchange={{action "selectDimensions"}} class="form-control">
  {{#each model as |dimension|}}
    <option value={{dimension.id}} selected={{contains dimension.id cellDimensionIds}}>{{dimension.domainMember}}</option>
  {{/each}}
</select>