<div class="list-group-item">
  <h5>{{#link-to 'discoverable-taxonomy-set.role-type.presentation-node' data-test-element-properties=true}}
      {{model.label}} <small><i class="fa fa-close fa-fw"></i></small>
    {{/link-to}}
  </h5>
</div>
{{outlet}}