<div class="list-group-item">
  <h5>{{#link-to 'discoverable-taxonomy-set.role-type.presentation-node' data-test-element-properties=true}}{{model.name}}<i class="fa fa-close fa-fw"></i>{{/link-to}}</h5>
</div>
{{outlet}}