<div class="list-group-item">
  <h6>{{#link-to 'discoverable-taxonomy-set.role-type.presentation-node' data-test-element-properties=true}}
     <i class="fa fa-chevron-left fa-fw"></i> {{model.label}}
    {{/link-to}}
  </h6>
</div>
{{outlet}}