  {{#each model as |node|}} 
    {{#link-to 'dimension-node' node class="list-group-item"}}
      {{node.name}} {{#unless node.hasDefaults}}<em>*dimension choice required</em> {{/unless}}
    {{/link-to}}
  {{else}}
    <p class="list-group-item">No dimension information for this node.</p>
  {{/each}}