<hr>
<nav data-test-child-nodes-nav>
  {{#each model.children as |child|}} 
    {{link-to (if child.name child.name "no name") 'discoverable-taxonomy-set.role-type.presentation-node' child.id}}<br>
  {{/each}}
</nav>