{{#if currentCell.cell.id}}
<ul class="list-unstyled">
  {{#each rootNodes as |node|}}
    <li>{{link-to (if node.name node.name "no name") 'discoverable-taxonomy-set.role-type.presentation-node' node.id}}</li>
  {{/each}}
</ul>
{{else}}
  <p> <i class="fa fa-warning"></i> There is no data currently selected.</p>
{{/if}}