<div class="container-fluid p-4">
  <div class="row mt-4 p-4">
    <div class="col-8">
      <table class="table table-bordered">
        <thead>
          <tr>
            <th colspan="4">
              Financial Statements of XYZ ltd 2016
            </th>
          </tr>
          <tr>
            <th>Description</th>
            <th></th>
            <th>CY</th>
            <th>PY</th>
          </tr>
        </thead>
        <tbody>
          <tr>
            <td>Sales</td>
            <td>(1)</td>
            <td>134</td>
            <td>1234</td>
          </tr>
          <tr>
            <td>Purchases</td>
            <td>(2)</td>
            <td>1341</td>
            <td>13241234</td>
          </tr>
          <tr>
            <td>Bank</td>
            <td>(4)</td>
            <td>356356</td>
            <td>3563456</td>
          </tr>
          <tr>
            <td>Creditors</td>
            <td>(5)</td>
            <td>-134132</td>
            <td>-3535435</td>
          </tr>
        </tbody>
      </table>
      <table class="table table-bordered">
        <thead>
          <tr>
            <th>Director's Report</th>
          </tr>
        </thead>
        <tbody>
          <tr>
            <td class="table-success">Joe A. Bloggs Ordinary shares 6000</td>
          </tr>
        </tbody>
      </table>
    </div>
    <div class="col-4"> {{outlet}}</div>
  </div>
</div>