  {{#each model as |node|}} 
    {{link-to node.element.name 'discoverable-taxonomy-set.role-type.presentation-node.element.dimension-node' node.id class="list-group-item"}}
  {{else}}
    <p class="list-group-item">No dimension information for this node.</p>
  {{/each}}